body {
    background-image: url(imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-attachment: fixed;
    margin: 0;
}

body::selection {
    background: rgba(93, 22, 22, 0.8);
    color: white;

}

h1 {
    font-size: 32px;
    margin: 20px auto;
}

h2 {
    font-size: 28px;
    font-weight: lighter;
    margin: 20px auto;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Chinese Rocks Rg', sans-serif;
    padding: 10px 0 0 0;
}

header h1 {
    font-size: 32px;
}

header h2 {
    font-size: 28px;
    font-weight: lighter;
}

header strong {
    color: rgba(180, 36, 36, 1);
}

nav {
    list-style-type: none;
    background-color: rgba(214, 27, 27);
    margin: 0;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 1.5em;
}

nav ul {
    padding-left: 0;
    margin-bottom: 0;
}

nav li {
    display: inline-block;
    padding: 5px;
}

nav a:hover {
    color: white;
}

nav a#atual {
    text-decoration: underline;
}

main {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

#introducao p {
    text-align: center;
    color: white;
    font-family: 'Hapna Slab Serif W00 DemiBold', sans-serif;
    font-size: 0.9em;
    padding: 20px 20px 20px 20px;
    margin: 0 80px 0 80px;
}

#personagens h2 {
    text-align: center;
    color: white;
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 1em;
    padding: 20px 0 0 0;
    margin: 0;

}

#personagens table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
}

#personagens th,
#personagens td {
    padding: 16px 12px;
    text-align: center;
    font-family: 'Chinese Rocks Rg', sans-serif;
    color: #fff;
    border-bottom: 1px solid #7a2c2c;
}

#personagens th {
    background-color: #420c0cff;
    font-size: 1.2em;
    letter-spacing: 1px;
}

#personagens tr:hover {
    background-color: rgba(139, 25, 25, 1);
    transition: background 1s;
    transform: scale(1.01);
    transition: transform 0.3s;
}

#personagens td {
    font-size: 0.7em;
}

#personagens td:nth-child(3) {
    font-family: 'Hapna Slab Serif W00 DemiBold', sans-serif;
}

#personagens td:nth-child(2) {
    font-size: large;
    font-weight: lighter;
}

#personagens td img {
    width: 60px;
    border-radius: 8px;
    border: 2px solid #ff0000ff;
}

#gameplay {
    margin: 10px auto;
    padding: 32px 24px;
    max-width: 700px;
    text-align: center;
    font-family: 'Chinese Rocks Rg', sans-serif;
    color: #fff;
}

#gameplay iframe {
    border-radius: 12px;
    border: 2px solid #b42424;
    width: 100%;
    max-width: 560px;
    height: 315px;
}

#voltar-topo:hover {
    background: #b42424;
    transform: scale(1.3);
    color: #ffffffff;
}

#curiosidades {
    margin: 0px auto;
    padding: 0 24px;
    max-width: 1000px;
    color: #fff;
    border: none;
    background: none;
    box-shadow: none;
}

#curiosidades h2 {
    text-align: center;
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 32px;
    color: gold;
    margin: 0;
    padding: 20px;
}

#curiosidades ol {
    padding: 24px;
    margin: 0;
    columns: 2;
    column-gap: 40px;
    column-rule: 2px solid rgba(130, 19, 19, 0.7);
}

#curiosidades li {
    text-align: justify;
    font-family: 'Hapna Slab Serif W00 DemiBold', sans-serif;
    font-size: 20px;
    padding: 8px 12px;
    margin-left: 24px;
}

#curiosidades li strong {
    color: #ffd700;
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
}

#informacoes-do-autor {
    text-align: center;
    color: white;
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 1em;
    padding: 20px 0 0 0;
    margin: 0;
}

#informacoes-do-autor img {
    width: 200px;
    height: 200px;
    border: rgb(99, 17, 17) 3px solid;
    margin: 10px 0;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 2em;
    position: relative;
    bottom: 0;
    border-top: gray 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-rodape {
    float: left;
    width: 30px;
    height: 30px;
    padding: 10px;
    
}

#voltar-topo {
    display: block;
    width: 50px;
    height: 50px;
    background: #790a0aff;
    color: #000000;
    font-size: 32px;
    font-family: 'Segoe UI';
    text-align: center;
    border-radius: 10%;
    position: fixed;
    right: 30px;
    bottom: 30px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}